.modal-overlay {
 backdrop-filter: blur(10px);
}

.inventory-box {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background-color: rgba(26, 26, 26, 0.6);
 border-radius: 10px;
 border: 3px solid #888888;
 box-shadow: 0 8px 12px rgba(0, 0, 0, 0.8), 0 4px 8px rgba(0, 0, 0, 0.3);
 padding: 30px 15px 20px 15px;
 gap: 20px;
 z-index: 1;
 width: 100%;
 max-width: 80vw;
 height: auto;
 max-height: 65vh;
 overflow-y: auto;
}

.inventory-grid {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
 gap: 24px;
 padding: 20px;
 justify-items: center;
}

.inventory-card {
 background-color: rgba(255, 255, 255, 0.1);
 border-radius: 10px;
 padding: 15px;
 text-align: center;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 transition: transform 0.2s;
}

.inventory-card:hover {
 transform: scale(1.05);
}

.card-image {
 width: 100%;
 height: 100px;
 background-color: #555;
 border-radius: 5px;
}

.card-content h3 {
 margin: 10px 0 5px;
 font-size: 16px;
}

.card-content p {
 font-size: 14px;
 color: #ccc;
}

.modal-title {
 margin-bottom: 30px;
 text-align: center;
 flex-grow: 1;
 font-size: 35px;
}

.modal-header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 color: white;
 position: relative;
}

.close-icon {
 position: absolute;
 top: 10px;
 right: 10px;
 transition: transform 0.2s ease-in-out;
 cursor: pointer;
 color: grey;
}

.close-icon:hover {
 transform: scale(1.2);
 color: #bbbbbb;
}

.inventory-input {
 width: 100%;
 padding: 10px;
 margin: 8px 0;
 border-radius: 5px;
 border: 2px solid #888888;
 background-color: transparent;
 color: white;
 outline: none;
 text-align: center;
 font-size: 16px;
 transition: all 0.3s ease-in-out;
}

.inventory-input:hover,
.inventory-input:focus {
 border-color: #ffffff;
 box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
}

/* Скрыть стрелочки для input[type="number"] */
.inventory-input[type="number"]::-webkit-outer-spin-button,
.inventory-input[type="number"]::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

.inventory-input[type="number"] {
 -moz-appearance: textfield;
 appearance: none;
}

.add-item-modal-button {
 margin-top: 15px;
 width: 100%;
 padding: 10px;
 border-radius: 5px;
 font-size: 16px;
 text-transform: uppercase;
 cursor: pointer;
 background-color: #1976d2;
 color: white;
 border: none;
 transition: background 0.3s ease-in-out;
}

.add-item-modal-button {
 margin-top: 25px;
 width: 100%;
 padding: 10px;
 border-radius: 5px;
 font-size: 16px;
 text-transform: uppercase;
 cursor: pointer;
 background-color: transparent;
 color: white;
 border: 2px solid #888888;
 transition: all 0.3s ease-in-out;
}

.add-item-modal-button:hover,
.add-item-modal-button:focus {
 background-color: rgba(136, 136, 136, 0.1);
 border-color: #ffffff;
 box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
}



.modal-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background-color: rgba(26, 26, 26, 0.9);
 border-radius: 12px;
 border: 3px solid #888888;
 box-shadow: 0 8px 12px rgba(0, 0, 0, 0.8), 0 4px 8px rgba(0, 0, 0, 0.3);
 padding: 30px;
 width: 500px;
 height: 600px;
 max-width: 90vw;
 max-height: 90vh;
 overflow-y: auto;
}

.upload-photo {
 color: white;
}

.photo-preview {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-top: 10px;
 gap: 70px;
}

.photo-preview button {
 background-color: transparent;
 color: #ffffff;
 border: none;
 cursor: pointer;
 font-size: 14px;
}

.photo-preview button:hover {
 text-decoration: underline;
}
