* {
 margin: 0;
 padding: 0;
}

.header-block {
 background-color: rgb(128, 123, 123);
 width: 100vw;
 height: 10vh;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.logo-block {
 width: 7vw;
 height: 10vh;
 background-image: url('/logo-exchange.webp');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 margin: 0 0 0 1vw;
}

.routing-buttons-block {
 width: 50vw;
 height: 10vh;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 2vw;
}


.content-block {
 width: 100vw;
 height: 80vh;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 overflow: hidden;
}

.content-block::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-image: url(/room2.jpg);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 filter: brightness(40%);
 z-index: 0;
}


.footer-block{
 background-color: rgb(128, 123, 123);
 width: 100vw;
 height: 10vh;
 display: flex;
}


